---
title: Addons
desc: Google APIs
section: Addons
slug: addon
area: Addons
---
<h1>{{title}}</h1>
{{{md './src/content/addon.md'}}}
{{#each addon.sdk-addon.add-on}}
  <h2 id="{{replace archives.archive.url '.zip' '' }}"><a href="{{{ desc-url }}}">{{ name-display }} {{ api-level }}, revision {{ revision }}</a></h2>
  <dl class="dl-horizontal">
    <dt>description</dt>
    <dd>{{ description }}</dd>
    <dt>api-level</dt>
    <dd>{{ api-level }}</dd>
    <dt>revision</dt>
    <dd>{{ revision }}</dd>
    <dt>vendor</dt>
    <dd>{{ vendor-display }}</dd>
    <dt>size</dt>
    <dd>{{toAbbr archives.archive.size }}b</dd>
    <dt>checksum</dt>
    <dd>{{ archives.archive.checksum }}</dd>
    <dt>url</dt>
    <dd class="separator"><a class="btn btn-primary" href="{{#contains archives.archive.url "http"}}{{ archives.archive.url }}{{else}}http://dl-ssl.google.com/android/repository/{{ archives.archive.url }}{{/contains}}">{{baseurl archives.archive.url }}</a></dd>
  </dl>
{{/each}}
