---
title: Android Studio
desc: Preview channels for Android Studio
section: IDE
slug: android-studio
area: studio
---
{{{md './src/content/android-studio.md'}}}
{{#each studio.canary}}
<h2 id="{{slugify title }}"><a href="{{{ desc-url }}}">{{ title }}</a></h2>
<dl class="dl-horizontal">
  <dt>description</dt>
  <dd>{{ description }}</dd>
  <dt>version</dt>
  <dd>{{ version }}</dd>
  {{#each download.archive}}
  <dt>size</dt>
  <dd>{{toAbbr size }}b</dd>
  <dt>checksum</dt>
  <dd>{{ checksum }}</dd>
  <dt>download</dt>
  <dd><a class="btn btn-primary" href="{{ url }}">{{baseurl url }}</a></dd>
  {{/each}}
</dl>
{{/each }}

{{#each studio.dev}}
<h2 id="{{slugify title }}"><a href="{{{ desc-url }}}">{{ title }}</a></h2>
<dl class="dl-horizontal">
  <dt>description</dt>
  <dd>{{ description }}</dd>
  <dt>version</dt>
  <dd>{{ version }}</dd>
  {{#each download.archive}}
  <dt>size</dt>
  <dd>{{toAbbr size }}b</dd>
  <dt>checksum</dt>
  <dd>{{ checksum }}</dd>
  <dt>download</dt>
  <dd><a class="btn btn-primary" href="{{ url }}">{{baseurl url }}</a></dd>
  {{/each}}
</dl>
{{/each }}
