---
title: Platform
layout: android.hbs
desc: Android Repository Viewer
section: Platform
---
{{#withSort repository.sdk-repository.platform "version" dir="desc"}}
  <h2>{{ description }}</h2>
  <dl class="dl-horizontal">
    <dt>version</dt>
    <dd>{{ version }}</dd>
    <dt>api-level</dt>
    <dd>{{ api-level }}</dd>
    <dt>revision</dt>
    <dd>{{ revision }}</dd>
    {{#gt api-level 6}}
    <dt>size</dt>
    <dd>{{toAbbr archives.archive.size }}b</dd>
    <dt>checksum (sha1)</dt>
    <dd>{{ archives.archive.checksum }}</dd>
    <dt>download</dt>
    <dd><a class="btn btn-primary" href="http://dl-ssl.google.com/android/repository/{{ archives.archive.url }}">{{ archives.archive.url }}</a></dd>
    {{else}}
    {{#each archives.archive}}
    <dt>size</dt>
    <dd>{{toAbbr size }}b</dd>
    <dt>checksum (sha1)</dt>
    <dd>{{ checksum }}</dd>
    <dt>download</dt>
    <dd><a class="btn btn-primary" href="http://dl-ssl.google.com/android/repository/{{ url }}">{{ url }}</a></dd>
    {{/each}}
    {{/gt}}
  </dl>
  {{/withSort }}
