---
title: Platform Tool
layout: android.hbs
desc: Android Repository Viewer
section: Platform Tool
slug: platform-tool
---
{{#if repository.sdk-repository.platform-tool}}
  <h2>platform-tool</h2>
  <dl class="dl-horizontal">
    <dt>revision</dt>
    <dd>{{ repository.sdk-repository.platform-tool.revision.major }}</dd>
    <dd>{{ repository.sdk-repository.platform-tool.revision.minor }}</dd>
    <dd>{{ repository.sdk-repository.platform-tool.revision.micro }}</dd>
    {{#each repository.sdk-repository.platform-tool.archives.archive}}
    <dt>size</dt>
    <dd>{{toAbbr size }}b</dd>
    <dt>checksum</dt>
    <dd>{{ checksum }}</dd>
    <dt>url</dt>
    <dd class="separator"><a class="btn btn-primary" href="http://dl-ssl.google.com/android/repository/{{ url }}">{{ url }}</a></dd>
    {{/each}}
  </dl>
  {{/if }}
