---
title: A collection of sample apps
desc: Variety of sample code is available from the Android SDK Manager to help you understand some fundamental Android APIs and coding practices.
section: Sample
slug: sample
area: SDK
---
<h1>{{title}}</h1>
{{{md './src/content/sample.md'}}}
{{#withSort repository.sdk-repository.sample "api-level" dir="desc"}}
  <h2 id="{{slugify api-level }}">{{ archives.archive.url }}</h2>
  <dl class="dl-horizontal">
    <dt>revision</dt>
    <dd>{{ revision }}</dd>
    <dt>api-level</dt>
    <dd>{{ api-level }}</dd>
    <dt>size</dt>
    <dd>{{toAbbr archives.archive.size }}b</dd>
    <dt>checksum</dt>
    <dd>{{ archives.archive.checksum }}</dd>
    <dt>download</dt>
    <dd><a class="btn btn-primary" href="http://dl-ssl.google.com/android/repository/{{ archives.archive.url }}">{{ archives.archive.url }}</a></dd>
  </dl>
  {{/withSort}}
