<span class="nav-section-title">
  Android SDK Tool
</span>
{{#if repository.sdk-repository.tool}}
<li> <a href="#Tool{{ repository.sdk-repository.tool.revision.major }}.{{ repository.sdk-repository.tool.revision.minor }}.{{ repository.sdk-repository.tool.revision.micro }}">{{ repository.sdk-repository.tool.revision.major }}.{{ repository.sdk-repository.tool.revision.minor }}.{{ repository.sdk-repository.tool.revision.micro }}</a> </li>
{{/if }}
