<!DOCTYPE html>
<html lang="en">
 <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {{> header }}
    <!-- Place anything custom after this. -->
  </head>
  <body style="background: white;" data-spy="scroll" data-target=".bs-sidebar">

    {{!-- NAVIGATION
    =================================== --}}
    {{> navbar }}

    {{!-- MASTHEAD
    =================================== --}}
    <header class="masthead subhead">
      <div class="container">
        <div class="row">
          <div class="col col-lg-12">
            {{> btn-tweet }}
            <h1><span class="text-muted">SDK /&nbsp;</span> {{#if section}}{{ section }} {{else}}{{pages.basename}}{{/if}}</h1>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row">

        {{!-- VERTICAL NAV
        =================================== --}}
        <div class="col col-lg-3">
          <div class="sidebar">

            <ul class="nav nav-pills nav-stacked">
              {{#is slug 'platform'}}
                {{> nav-platform }}
              {{/is}}
              {{#is slug 'system-image'}}
                {{> nav-system-image }}
              {{/is}}
            </ul>

          </div>
        </div>

        {{!-- MAIN CONTENT
        =================================== --}}
        <div class="col col-lg-9">
          <div class="panel panel-docs">
            <h1>{{page.title}}</h1>
              {{> body }}
            {{#markdown}}
              {{> links-generated.md }}
            {{/markdown}}
            <hr>
            <p><a href="https://github.com/hariadi/viewer/blob/master/src/templates/pages/docs/{{this.basename}}.hbs">See the template for this page → </a></p>
            <div class="alert">

              {{!-- Special styles for GitHub Buttons
              =========================================== --}}
              <style type="text/css" media="screen">
                .alert iframe {
                  float: right;
                  margin: 7px -30px 0 0;
                  vertical-align: text-top;
                }
              </style>

              {{!-- GITHUB BUTTONS (right aligned)
              =========================================== --}}
              {{> btn-github-star }}
              {{> btn-github-fork }}

              <p>Find an error? <a class="alert-link" href="https://github.com/hariadi/viewer/issues?state=open">Let us know →</a></p>
            </div>
            {{> colophon }}
          </div>
        </div>
      </div>
    </div>

    {{!-- SCRIPTS
    =================================== --}}
    {{> javascripts }}
    <script>
      $().showUp('.navbar');
    </script>
  </body>
</html>
