<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}} | {{site.title}}</title>
    <link rel="stylesheet" href="{{assets}}/app.css">
  </head>
  <body>
    <div id="wrap" class="boxed">
      <header>
      <div class="container clearfix">
        <div class="six columns">
          <div class="logo"><a class="navbar-brand" href="{{relative page.dest "index.html"}}">{{ title }}</a><span>{{ desc }}</span></div>
        </div>
      </div>
    </header>
    <div class="container clearfix">
      {{> body }}
    </div>
  </body>
</html>
