{{#prettify}}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{package.description}}">
    <meta name="author" content="{{package.author.name}}">
    <title>{{#is title "Viewer"}}{{ title }}{{/is}}{{#isnt title "Viewer"}}{{ title }} &middot; Viewer{{/isnt}}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{assets}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{assets}}/css/viewer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {{#if site.config.analytic}}{{> analytics }}{{/if}}
    {{#if site.config.schema}}
    <script type="application/ld+json">
      [
        {
          "@context" : "http://schema.org",
          "@type" : "Person",
          "name" : "Hariadi Hinta",
          "description" : "Android SDK Library Repository Viewer.",
          "url" : "https://github.com/hariadi"
        }
      ]
      </script>
      {{/if}}
  </head>
  <body>

    <!-- Docs master nav -->
    {{> navbar }}

    {{!-- content
    =================================== --}}
    <div class="container{{#isnt basename 'index'}} well{{/isnt}}">

      <div class="row">

        <div class="col-md-9 col-md-push-3 main-content">{{> body }}</div>

        <div class="col-md-3 col-md-pull-9 sidebar" id="leftCol">
              <ul class="nav nav-pills nav-stacked" itemscope itemtype="http://schema.org/SiteNavigationElement" id="sidebar">
              {{#is slug 'platform'}}
                {{> nav-platform }}
              {{/is}}
              {{#is slug 'system-image'}}
                {{> nav-system-image }}
              {{/is}}
              {{#is slug 'source'}}
                {{> nav-source }}
              {{/is}}
              {{#is slug 'getting-start'}}
                {{> nav-getting-start }}
              {{/is}}
              {{#is slug 'android-studio'}}
                {{> nav-android-studio }}
              {{/is}}
              {{#is slug 'addon'}}
                {{> nav-addon }}
              {{/is}}
              {{#is slug 'sample'}}
                {{> nav-sample }}
              {{/is}}
              {{#is slug 'tool'}}
                {{> nav-tool }}
              {{/is}}
              {{#is slug 'doc'}}
                {{> nav-doc }}
              {{/is}}
            </ul>

        </div>


      </div><!--//.row -->
    </div><!--//.container -->

    {{!-- footer scripts
    =================================== --}}
    <script src="{{assets}}/js/jquery.min.js"></script>
    <script src="{{assets}}/js/bootstrap.min.js"></script>
    <script type='text/javascript'>

        $(document).ready(function() {

          $('#sidebar').affix({
            offset: {
              top: 235
            }
          });

          var $body   = $(document.body);
          var navHeight = $('.navbar').outerHeight(true) + 10;

          $body.scrollspy({
            target: '#leftCol',
            offset: navHeight
          });

          /* smooth scrolling sections */
          $('a[href*=#]:not([href=#])').click(function() {
              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                  $('html,body').animate({
                    scrollTop: target.offset().top - 50
                  }, 1000);
                  return false;
                }
              }
          });

        });

    </script>
    {{#if social}}<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>{{/if}}
  </body>
</html>{{/prettify}}
